div(class="footer")
    div(class="container")
        div(class="row")
            div(class="col col-lg-12") Le Panier Gourmand.  244 Av. de Thouars, 33400 Talence, France. All rights reserved - 2023

script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
script(src='js/nav.js')
script(src='js/cart.js')
